<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Previous Agent Details </h1>

    <p>
      Group Name: <%= @previous_group_name %>
    </p>

    <p>
      Company Name: <%= @previous_company_name %>
    </p>

    <p>
      Branch Name: <%= @previous_branch_name %>
    </p>

    <p>
      Image Url: <%= @previous_agent_image_url %>
    </p>

    <p>
      First Name: <%= @previous_agent_first_name %>
    </p>

    <p>
      Last Name: <%= @previous_agent_last_name %>
    </p>

    <p>
      Mobile: <%= @previous_agent_mobile %>
    </p>

    <p>
      Office Number: <%= @previous_agent_office_number %>
    </p>

    <p>
      Title: <%= @previous_agent_title %>
    </p>

    <h2>Current Agent Details </h2>

    <p>
      Group Name: <%= @new_group_name %>
    </p>

    <p>
      Company Name: <%= @new_company_name %>
    </p>

    <p>
      Branch Name: <%= @new_branch_name %>
    </p>

    <p>
      Image Url: <%= @new_agent_image_url %>
    </p>

    <p>
      First Name: <%= @new_agent_first_name %>
    </p>

    <p>
      Last Name: <%= @new_agent_last_name %>
    </p>

    <p>
      Mobile: <%= @new_agent_mobile %>
    </p>

    <p>
      Office Number: <%= @new_agent_office_number %>
    </p>

    <p>
      Title: <%= @new_agent_title %>
    </p>

    <p>
      Property Id: <%= @udprn %>
    </p>

    <p>
      Property Address: <%= @address %>
    </p>

    <p>
      Vendor Image url: <%= @vendor_image_url %>
    </p>

    <p>
      Vendor First Name: <%= @vendor_first_name %>
    </p>

    <p>
      Vendor Last Name: <%= @vendor_last_name %>
    </p>

    <p>
      Vendor Email: <%= @vendor_email %>
    </p>

    <p>
      Vendor Mobile: <%= @vendor_mobile %>
    </p>

    <p>
      Time: <%= @time %>
    </p>

    <p>
      Reason: <%= @reason %>
    </p>

  </body>
</html>
