<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Agent Details </h1>
    <p>
      Group Name: <%= @group_name %>
    </p>

    <p>
      Company Name: <%= @company_name %>
    </p>

    <p>
      Branch Name: <%= @branch_name %>
    </p>

    <p>
      Image Url: <%= @agent_image_url %>
    </p>

    <p>
      First Name: <%= @agent_first_name %>
    </p>

    <p>
      Last Name: <%= @agent_last_name %>
    </p>

    <p>
      Mobile: <%= @agent_mobile %>
    </p>

    <p>
      Office Number: <%= @agent_office_number %>
    </p>

    <p>
      Title: <%= @agent_title %>
    </p>

    <p>
      Property Id: <%= @udprn %>
    </p>

    <p>
      Property Address: <%= @address %>
    </p>

    <p>
      Vendor Image url: <%= @vendor_image_url %>
    </p>

    <p>
      Vendor First Name: <%= @vendor_first_name %>
    </p>

    <p>
      Vendor Last Name: <%= @vendor_last_name %>
    </p>

    <p>
      Vendor Email: <%= @vendor_email %>
    </p>

    <p>
      Vendor Mobile: <%= @vendor_mobile %>
    </p>

    <p>
      Time: <%= @time %>
    </p>

  </body>
</html>