<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/underscore.min.js"></script>
<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/jquery.min.js"></script>
<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/backbone.min.js"></script>
<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/backbone-forms.min.js"></script>
<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/bootstrap.min.js"></script>
<script src="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/jasny-bootstrap.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<link rel="stylesheet" type="text/css" href="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/jasny-bootstrap.css"/>

<div class="top_navbar">
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="agent_form">Agent Form</a></li>
      <li><a href="historical_details">Historical Details</a></li>
      <li><a href="ads_payment">Ads Payment</a></li>
      <li><a href="street_view_html">Street View</a></li>
      <li><a href="map_view_html">Map View</a></li>
      <li><a href="valuation_details_html">Valuation Details</a></li>
      <li><a href="quotes_details_html">Quotes Details</a></li>
    </ul>
  </div>
</div>

<script type="text/html" id="historical_form">
  <div id="historical_form_details">
    <table class="table table-striped">
      <tr>
        <th>Sale Price</th>
        <th>Sale Date</th>
      </tr>
      <%@historical_details.each do |historical_detail| %>
        <tr>
          <td><%= historical_detail.price %></td>
          <td><%= historical_detail.date %></td>
        </tr>
      <% end %>
    </table>
    
  </div>
</script>


<script type="text/html" id="street_view_html">
  <div id="street_view_details">
    <img src="<%=PropertyDetails.get_signed_url(@udprn)%>">
  </div>
</script>

<script type="text/html" id="quotes_details_html">
  <div id="quotes_details">
    <table class = "table table-striped">
       <caption></caption>
       
       <thead>
          <tr>
             <th>Company Logo</th>
             <th>For sale</th>
             <th>Sold</th>
             <th>Agent Employee Name</th>
             <th>Aggregate sales</th>
             <th>% achieved more than valuation</th>
             <th>Average changes to valuations</th>
             <th>% of 1st valuation achieved</th>
             <th>% of final valuation achieved</th>
             <th>Pay now</th>
             <th>Quote</th>
          </tr>
       </thead>

      <% @quotes.each do |quote|%>
       
       <tbody>
          <tr>
             <td><%= quote[:name] %></td>
             <td></td>
             <td></td>
             <td><%= quote[:name] %></td>
             <td><%= quote[:aggregate_stats][:sales] %></td>
             <td><%= quote[:aggregate_stats][:avg_valuation] %></td>
             <td><%= quote[:aggregate_stats][:avg_greater_than_valuation] %></td>
             <td><%= quote[:aggregate_stats][:avg_increase_in_valuation] %></td>
             <td><%= quote[:aggregate_stats][:avg_final_valuation_percent] %></td>
             <td><%= quote[:aggregate_stats][:avg_first_valuation_percent] %></td>
          </tr>
          
       </tbody>
       

      <% end %>
    </table>

    <table class = "table table-striped">
       <caption></caption>


      <% @quotes.each do |quote|%>
       <caption><%= quote[:name] %> </caption>

       <thead>
          <tr>
             <th>Name</th>
             <th>1st valuation</th>
             <th>2nd valuation</th>
             <th>3rd valuation</th>
             <th>Final sale price</th>
             <th>% achieved more than valuation</th>
             <th>Average changes to valuations</th>
             <th>% of 1st valuation achieved</th>
             <th>% of final valuation achieved</th>
             <th>% of first valuation achieved</th>
             <th>Pay now</th>
             <th>Quote</th>
          </tr>
       </thead>
       <% quote[:property_quotes].each do |each_prop| %>
         <tbody>
            <tr>
               <td><%= quote[:name] %></td>
               <td><%=each_prop[:first_valuation] %></td>
               <td><%=each_prop[:second_valuation] %></td>
               <td><%=each_prop[:third_valuation] %></td>
               <td><%=each_prop[:final_sale_price] %></td>
               <td><%=each_prop[:greater_than_valuation] %></td>
               <td><%=each_prop[:no_of_valuations] %></td>
               <td><%=each_prop[:increase_in_valuation] %></td>
               <td><%=each_prop[:final_valuation_percent] %></td>
               <td><%=each_prop[:first_valuation_percent] %></td>
               <td> </td>
            </tr>
            
         </tbody>
       <% end %>
       

      <% end %>
    </table>

  </div>
</script>


<script type="text/html" id="valuation_details_html">
  <div id="valuation_details">
    <table class = "table table-striped">
     <caption>Valuation details</caption>
     
     <thead>
        <tr>
           <th>Previous Sales</th>
           <th>Date</th>
           <th>Price Paid</th>
           <th>£+/- Last sale</th>
           <th>%+/- Last sale</th>
           <th>Inflation between sales</th>
           <th>Real £+/-</th>
           <th>Real %+/-</th>
        </tr>
     </thead>
     
     <tbody>
        <% @valuations[:sale_info].each do |each_sale_info| %>
          <tr>
             <td><%= each_sale_info[:index] %></td>
             <td><%= each_sale_info[:date] %></td>
             <td><%= each_sale_info[:price_paid] %></td>
             <td><%= each_sale_info[:price_diff] %></td>
             <td><%= each_sale_info[:price_diff_percent] %></td>
             <td><%= each_sale_info[:inflation_adjusted_price] %></td>
             <td><%= each_sale_info[:inflation_adjusted_price_diff] %></td>
             <td><%= each_sale_info[:inflation_adjusted_price_diff_percent] %></td>
          </tr>
        <% end %>
        
     </tbody>
     
    </table>

    <table class = "table table-striped">
     
     <thead>
        <tr>
           <th>v Current Valuation + Dream Price</th>
           <th>Price</th>
           <th>vs Inflation</th>
           <th>£+/- Last Inflation</th>
           <th>%+/- Last Inflation</th>
           <th>vs last sale</th>
           <th>£+/- Last sale</th>
           <th>%+/- Last sale</th>
           <th>vs first sale</th>
           <th>Real £+/-</th>
           <th>Real %+/-</th>
        </tr>
     </thead>
     
     <tbody>
        <tr>
           <% if @valuations[:dream_price_info] %>
             <td>1</td>
             <td><%= @valuations[:dream_price_info][:price] %></td>
             <td><%= @valuations[:dream_price_info][:inflation_price] %></td>
             <td><%= @valuations[:dream_price_info][:inflation_price_diff] %></td>
             <td><%= @valuations[:dream_price_info][:inflation_price_diff_percent] %></td>
             <td><%= @valuations[:dream_price_info][:last_sale_price] %></td>
             <td><%= @valuations[:dream_price_info][:last_sale_price_diff] %></td>
             <td><%= @valuations[:dream_price_info][:last_sale_price_diff_percent] %></td>
              <td><%= @valuations[:dream_price_info][:first_sale_price] %></td>
             <td><%= @valuations[:dream_price_info][:first_sale_price_diff] %></td>
             <td><%= @valuations[:dream_price_info][:first_sale_price_diff_percent] %></td>
           <% end %>
        </tr>

        <tr>
           <% if @valuations[:valuation_info] %>
             <td>2</td>
             <td><%= @valuations[:valuation_info][:price] %></td>
             <td><%= @valuations[:valuation_info][:inflation_price] %></td>
             <td><%= @valuations[:valuation_info][:inflation_price_diff] %></td>
             <td><%= @valuations[:valuation_info][:inflation_price_diff_percent] %></td>
             <td><%= @valuations[:valuation_info][:last_sale_price] %></td>
             <td><%= @valuations[:valuation_info][:last_sale_price_diff] %></td>
             <td><%= @valuations[:valuation_info][:last_sale_price_diff_percent] %></td>
             <td><%= @valuations[:valuation_info][:first_sale_price] %></td>
             <td><%= @valuations[:valuation_info][:first_sale_price_diff] %></td>
             <td><%= @valuations[:valuation_info][:first_sale_price_diff_percent] %></td>
           <% end %>
        </tr>
        
     </tbody>
     
    </table>

  </div>
</script>


<script type="text/html" id="map_view_html">
  <div id="map_view_details">
  <iframe width="600" height="450" frameborder="0" style="border:0" src="<%=@map_view_url%>" allowfullscreen></iframe>
  </div>
</script>


<script type="text/html" id="main">
  <form class="form-right" style="margin-left: 15%; margin-right: 10%;" id="main_form">
    <fieldset>
      <div class="form-group">
        <label for="title">Title</label>
        <select class="form-control" id="title" placeholder="Select a title" name="title">
          <option></option>
          <option>Mr</option>
          <option>Mrs</option>
          <option>Ms</option>
        </select>
      </div>

      <input type="hidden" name="udprn" id="udprn" value="<%= @udprn %>" disabled/>
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>


      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      </div>

      <div class="form-group">
        <label for="address" class="control-label">Address</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" name="house_no" placeholder="House No" value="<%=@building_unit %>" disabled/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="postcode" placeholder="Postcode" value="<%=@postcode %>" disabled/>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="dream_price">Dream Price</label>
        <input type="number" class="form-control" id="dream_price" name="dream_price" placeholder="Please enter a dream price">
      </div>

      <div class="form-group">
        <label for="current_agent_details">Current agent valuation</label>
        <div style="margin-left: 3%;">
          <div class="form-group" id='current_agent_details'>
            <label for="current_agent_valuation" style="font-weight: 500;">Value</label>
            <input type="number" class="form-control" id="current_agent_valuation" name="current_agent_valuation" placeholder='Enter value in pounds'/>
          </div>

          <div class="form-group">
            <label for="current_agent_valuation_date" style="font-weight: 500;">Date of valuation</label>
            <input type="date" class="form-control" id="current_agent_valuation_date" name="current_agent_valuation_date" placeholder='Select a date'/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="vendor_personal_details">Vendor personal valuation (based on any improvements etc)</label>
        <div style="margin-left: 3%;">
          <div class="form-group" id='vendor_personal_details'>
            <label for="vendor_personal_valuation" style="font-weight: 500;">Value</label>
            <input type="number" class="form-control" id="vendor_personal_valuation" name="vendor_personal_valuation" placeholder='Enter value in pounds'/>
          </div>

          <div class="form-group">
            <label for="vendor_valuation_date">Date of valuation</label>
            <input type="date" class="form-control" id="vendor_valuation_date" name="vendor_valuation_date" placeholder='Select a date'/>
          </div>
        </div>
      </div>


      <div class="form-group">
          <label for="internal_property_size">Internal space size</label>
          <select class="form-control" id="internal_property_size" placeholder="Select the internal property size" name="internal_property_size">
            <option></option>
            <option>I know approx</option>
            <option>I know exactly</option>
            <option>Don't know</option>
          </select>
        </div>
          <!-- <input type="number" class="form-control" id="internal_property_size" placeholder="Select an internal property size"> -->
        
        <div class="form-group">
          <label for="external_property_size">Outside space size</label>
          <select class="form-control" id="external_property_size" placeholder="Select an external property size" name="external_property_size">
            <option></option>
            <option>I know approx</option>
            <option>I know exactly</option>
            <option>Don't know</option>
          </select>
        </div>

      <div class="form-group">
        <label for="property_type">Property Type</label>
        <select class="form-control" id="property_type" name="property_type" placeholder="Select a property type">
          <option></option>
          <option>Barn conversion</option>
          <option>Bungalow</option>
          <option>Cottage</option>
          <option>Country house</option>
          <option>Detached house</option>
          <option>Detached bungalow</option>
          <option>End terrace house</option>
          <option>Equestrian property</option>
          <option>Farm</option>
          <option>Barn conversion/farmhouse</option>
          <option>Farmhouse</option>
          <option>Flat</option>
          <option>Houseboat</option>
          <option>Link­detached house</option>
          <option>Lodge</option>
          <option>Maisonnette</option>
          <option>Mews house</option>
          <option>Mobile/park home</option>
          <option>Semi­detached house</option>
          <option>Semi­detached bungalow</option>
          <option>Studio</option>
          <option>Terraced house</option>
          <option>Terraced bungalow</option>
          <option>Town house</option>
          <option>Land with planning permission</option>
          <option>Land without planning permission</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bedroom">Bedrooms</label>
        <select class="form-control" id="bedroom" name="beds" placeholder="Select number of bedroom">
          <option></option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10+</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bathroom">Bathrooms</label>
        <select class="form-control" id="bathroom" name="baths" placeholder="Select number of bathroom">
          <option></option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10+</option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Owner Type</label>
        <select class="form-control" id="title" name="title" placeholder="Select a title">
          <option></option>
          <option>Owner/Occupier</option>
          <option>Tenant</option>
          <option>Agent</option>
          <option>Landlord</option>
        </select>
      </div>

      <div class="form-group">
        <label for="epc"> Epc</label></br>
        <div class="btn-group epc" id="epc" name="epc" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="options" id="option1" name="epc" class="form-control"/>Yes</label>
            <label class="btn btn-default active">
              <input type="radio" name="options" id="option2" name="epc" class="form-control" checked/>No
            </label>
        </div>
      </div>

      <div class="form-group">
        <label for="reception">Receptions</label>
        <select class="form-control" id="reception" name="receptions" placeholder="Select number of receptions">
          <option></option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10+</option>
        </select>
      </div>


      <div class="form-group">
        <label for="tenure">Tenure</label>
        <select class="form-control" id="tenure" name="tenure" placeholder="Select a property type">
          <option></option>
          <option>Freehold</option>
          <option>Share of freehold</option>
          <option>Leasehold</option>
          <option>Don’t know</option>
        </select>
      </div>

      <div class="form-group">
        <label for="reception">Running Costs</label>
          <div class="form-group" style="margin-left: 2%;">
            <div class="form-group">
              <label for="water_cost" style="font-weight: 400;">Water (Avg. cost per month)</label>
              <input type="number" class="form-control" id="water_cost" name="water_cost" placeholder="Enter the cost of water per month">
            </div>
            
            <div class="form-group">
              <label for="lighting_cost" style="font-weight: 400;">Lighting (per EPC) (Avg. cost per month)</label>
              <input type="number" class="form-control" id="lighting_cost" name="lighting_cost" placeholder="Enter the cost of lighting per month">
            </div>

            <div class="form-group">
              <label for="heating_cost" style="font-weight: 400;">Heating (per EPC) (Avg. cost per month)</label>
              <input type="number" class="form-control" id="heating_cost" name="heating_cost" placeholder="Enter the cost of heating per month">
            </div>

            <div class="form-group">
              <label for="hot_water_cost" style="font-weight: 400;">Hot water (per EPC) (Avg. cost per month)</label>
              <input type="number" class="form-control" id="hot_water_cost" name="water_cost" placeholder="Enter the cost of hot water per month">
            </div>

            <div class="form-group">
              <label for="council_band_cost" style="font-weight: 400;">Council Tax Band ​ (Avg. cost per month)</label>
              <input type="number" class="form-control" id="council_band_cost" name="council_cost" placeholder="Enter the cost of council tax band">
            </div>

            <div class="form-group">
              <label for="ground_rent_charge" style="font-weight: 400;">Annual ground rent/service charge</label>
              <input type="number" class="form-control" id="ground_rent_charge" name="ground_rent_cost" placeholder="Enter the annual rent service charge">
            </div>

            <div class="form-group">
              <label for="service_cost" style="font-weight: 400;">Annual service charge</label>
              <input type="number" class="form-control" id="service_cost" name="annual_service_cost" placeholder="Service charge(Per Year)">
            </div>

            <div class="form-group">
              <label for="parking_cost" style="font-weight: 400;">Annual residents parking charge</label>
              <input type="number" class="form-control" id="parking_cost" name="parking_cost" placeholder="Parking charge(Per Year)">
            </div>
          </div>

      </div>

      <div class="form-group">
        <label for="property_style">Property style</label>
        <select class="form-control" id="property_style" name="property_style" placeholder="Select a property style">
          <option></option>
          <option>Period</option>
          <option>New build</option>
          <option>Contemporary</option>
          <option>Purpose built</option>
          <option>Thatched</option>
          <option>Mansion block</option>
          <option>Low build</option>
          <option>Council</option>
          <option>Park home</option>
          <option>Don’t know</option>
          <option>Barn conversion</option>
          <option>Church conversion</option>
          <option>Other conversion</option>
        </select>
      </div>

      <div class="form-group">
        <label for="floors">Floors</label>
        <select class="form-control" id="floor" name="floors" placeholder="Select number of floors">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>

      <div class="form-group">
        <label for="listed_status">Listed Status</label>
        <select class="form-control" id="listed_status" name="listed_status" placeholder="Select a listed status">
          <option></option>
          <option>None</option>
          <option>Grade I</option>
          <option>Grade II</option>
          <option>Grade II*</option>
          <option>Locally listed</option>
          <option>Don’t know</option>
        </select>
      </div>

      <div class="form-group">
        <label for="year_built">Year Built</label>
        <select class="form-control" id="year_built" name="year_built" placeholder="Select the age of property">
          <option></option>
          <option>Under 10 years ago</option>
          <option>Under 25 years ago</option>
          <option>Under 50 years ago</option>
          <option>Over 50 years ago</option>
          <option>Locally listed</option>
          <option>I know exact age</option>
          <option>Don’t know</option>
        </select>
      </div>

      <div class="form-group">
        <label for="decorative_cond">Decorative Condition</label>
        <select class="form-control" id="decorative_cond" name="decorative_condition" placeholder="Select a decorative condition">
          <option></option>
          <option>Newly refurbished</option>
          <option>Excellent</option>
          <option>Good</option>
          <option>Average</option>
          <option>Needs modernisation</option>
        </select>
      </div>

      <div class="form-group">
        <label for="central_heating">Central Heating</label>
        <select class="form-control" id="central_heating" name="central_heating" placeholder="Select a central heating system">
          <option></option>
          <option>None</option>
          <option>Partial</option>
          <option>Throughout</option>
          <option>Don't know</option>
        </select>
      </div>


      <div class="form-group">
        <label for="outside_space">Outside spaces</label>
          
          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
            <input type="checkbox" checkboxname="outside_spaces">Private garden
          </label>

          <label class="checkbox" style="font-weight: 400; margin-left: 1.8%;">
            <input type="checkbox" checkboxname="outside_spaces">Communal garden
          </label>
          
          <label class="checkbox" style="font-weight: 400; margin-left: 1.8%;">
            <input type="checkbox" checkboxname="outside_spaces">Roof terrace
          </label>

          <label class="checkbox" style="font-weight: 400; margin-left: 1.8%;">
            <input type="checkbox" checkboxname="outside_spaces">Terrace
          </label>
          
          <label class="checkbox" style="font-weight: 400; margin-left: 1.8%;">
            <input type="checkbox" checkboxname="outside_spaces">Balcony
          </label>
          
          <!-- <label class="checkbox" style="font-weight: 400; margin-left: 1.8%;"> -->
            <!-- <input type="checkbox" name="none">None -->
          <!-- </label> -->
      </div>

      <div class="form-group">
        <label for="additional_features">Additional Features</label>
        <div class="row"></div>
        <div class="col-sm-2">
          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Attractive views
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Ensuite bathroom
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Loft/attic
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Rural/secluded
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Basement/cellar
          </label>
        </div>

        <div class="col-sm-2">
          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Fireplace
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Outbuildings/stables
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Swimming pool
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Bespoke fixtures
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Gated
          </label>
        </div>

        <div class="col-sm-2">
          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Penthouse
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Tennis court
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Conservatory
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Gym/sauna
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Period features
          </label>

        </div>

        <div class="col-sm-2">
          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Waterfront
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Double glazing
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Laundry/utility room
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Porter/security
          </label>

          <label class="checkbox form-group" style="font-weight: 400; margin-left: 1.8%;">
             <input type="checkbox" checkboxname="additional_features">Wood floors
          </label>
        </div>
        <div class="row"></div>

      </div>

        

        <div data-role="dynamic-fields" style="margin-bottom: 3%;" class="form-group">
          <button class="btn btn-primary" data-role="add" id="add_improvement" name="add_improvement">
            Add a new improvement
          </button>
          <div class="row"></div>
        </div>

        <div class="form-group">
          <label for="offers_above_x">Offers above x</label>
          <input type="number" class="form-control" id="offers_above_x" name="offers_above_x" placeholder='Amount in pounds'/>
        </div>

        <div class="form-group">
          <label for="most_recent_price">Most recent sale price</label>
          <div style="margin-left: 3%;">
            <div class="form-group" id='most_recent_price'>
              <label for="most_recent_price_value" style="font-weight: 500;">Value</label>
              <input type="number" class="form-control" id="most_recent_price_value" name="most_recent_price_value" placeholder='Enter value in pounds'/>
            </div>

            <div class="form-group">
              <label for="most_recent_price_date">Last sale date</label>
              <input type="date" class="form-control" id="most_recent_price_date" name="most_recent_price_date" placeholder='Select a date'/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="rental">Rentals</label>
          <div style="margin-left: 3%;">
            <div class="form-group" id='rental'>
              <label for="montly_rent_value" style="font-weight: 500;">Monthly rent value</label>
              <input type="number" class="form-control" id="montly_rent_value" name="montly_rent_value" placeholder='Enter value in pounds'/>
            </div>

            <div class="form-group">
              <label for="montly_rent_value_agent"> Monthly rent valuation (agent)</label>
              <input type="date" class="form-control" id="montly_rent_value_agent" name="montly_rent_value_agent" placeholder='Enter a value'/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="photos">Photos</label>
          <div style="margin-left: 3%;">
            <div class="form-group">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file"><span>Front house</span><input type="file" name="front_house_photo" /></span>
                <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
              </div>
            </div>

            <div class="form-group">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file"><span>Garden</span><input type="file" name="garden_photo" /></span>
                <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
              </div>
            </div>
          </div>
        </div>

        
        <div class="form-group">
          <label for="description"> Property Description</label>
          <textarea class = "form-control" rows = "3" name="description"></textarea>
        </div>

        <div class="form-group">
          <label for="add_room">Room details</label>
          <div data-role="dynamic-fields" style="margin-bottom: 3%;" class="form-group">
            <button class="btn btn-primary" data-role="add" id="add_room" name="add_room">
              Add details of a room
            </button>
            <div class="row"></div>
          </div>
        </div>


        <div class="form-group">
          <label for="add_photo_room">Room photos</label>
          <div data-role="dynamic-fields" style="margin-bottom: 3%;" class="form-group">
            <button class="btn btn-primary" data-role="add" id="add_photo_room" name="add_room_photo">
              Add photos of a room
            </button>
            <div class="row"></div>
          </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</script>

<script type="text/html" id="epc_file_form">
  <div class="form-group" style="margin-left: 1%; margin-top: 2px;" formname="epc_file_form">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" name="epc_file_form" class="form-control"/></span>
      <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
    </div>
  </div>
</script>

<script type="text/html" id="inp_text">
  <div class="form-group" style="margin-left: 1%; margin-top: 4px;">
    <input type="text" class="form-control" name="inp_text" />
  </div>
</script>

<script type="text/html" id="prop_size_details">
  <div class="form-inline" style="margin-left: 1%; margin-top: 4px;" formname="property_size">
    <label for="prop_size"> Choose area type</label>
      <div class="btn-group prop_size" id="prop_size" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="option1" name="prop_size_unit" class="form-control" />Sq. ft</label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2"  class="form-control" name="prop_size_unit"/>Sq. Meters</label>
      </div>

    <div class="form-group">
      <label for="prop_size_text"> Area</label>
      <input type="text" class="form-control" id="prop_size_text"  class="form-control" placeholder="Enter area" name="prop_area"/>
    </div>

  </div>
</script>

<script type="text/html" id="improvement_spend">
  <div class="container">
    <fieldset style="border-bottom: 1px solid #F37622; margin-top: 5px; margin-bottom: 15px;" class="col-xs-10 fieldset">
      <div class="form-inline" formname="improvement_spend">
        <div class="row">
          <div class="col-xs-10">
            <div class="form-group" style="width: 100%;">
                <label for="field-name" >Value(in Pounds)</label>
                <input type="text" class="form-control" id="field-name" placeholder="Enter the improvement expenses" style="width: 100%;" name="improvement_value">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
              <div class="form-group" style="width: 100%;">
                  <label for="field-value">Date</label>
                  <input type="date" class="form-control" id="field-value" placeholder="Select a date" style="width: 100%;padding-left: 15px;" name="improvement_date">
              </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px; margin-bottom: 2px;">
            <div class="col-xs-10">
              <div class="form-group" style="width: 100%;">
                  <label for="improvements_list">Select the type of improvement</label>
                  <div class="row"></div>
                  <select class="form-control improvements_list" id="improvements_list" name="improvements_list">
                    <option></option>
                    <option>Total refurbishment</option>
                    <option>General maintenance</option>
                    <option>Bedroom addition</option>
                    <option>Bathroom addition</option>
                    <option>Kitchen remodel ­ basic</option>
                    <option>Kitchen remodel ­ upscale</option>
                    <option>Bathroom remodel ­ basic</option>
                    <option>Bathroom remodel ­ upscale</option>
                    <option>Landscaped garden</option>
                    <option>Ground floor extension</option>
                    <option>Conservatory addition</option>
                    <option>Loft conversion</option>
                    <option>Garage conversion</option>
                    <option>Basement/cellar conversion</option>
                    <option>Patio/terrace addition</option>
                    <option>Roof replacement</option>
                    <option>Window replacement</option>
                    <option>Freehold/leasehold extension</option>
                    <option>Others</option>
                    <option>Before/after pictures</option>
                  </select>
              </div>
            </div>
        </div>

        <div class="row">
          <button class="btn btn-danger col-md-2" data-role="remove" style="margin-left: 15px; margin-top: 15px; margin-bottom: 15px;">Remove improvement</button>
        </div>
      </div>
    </fieldset>
  </div>

</script>


<script type="text/html" id="room_details">
  <div class="container" formname="room_details">
    <fieldset style="border-bottom: 1px solid #F37622; border-top: 1px solid #F37622; margin-bottom: 15px;" class="col-xs-10 fieldset">
      
      <div class="form-group">
        <label for="dimension_type"> Choose dimension type</label>
        <div id="dimension_type">
          <div class="btn-group prop_size" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="options" id="option1" name="dimension_type" />Feet</label>
              <label class="btn btn-default">
                <input type="radio" name="options" id="option2" name="dimension_type"/>Meter</label>
          </div>
        </div>
      </div>

        <div class="form-group">
          <div class="form-inline">
            <div class="form-group">
              <label for="length">Length</label>
              <input type="text" class="form-control" id="length" placeholder="Enter length" name="room_length" />
            </div>
            <div class="form-group">
              <label for="width">Width</label>
              <input type="text" class="form-control" id="width" placeholder="Enter width" name="room_width"/>
            </div>
          </div>
        </div>

        <div class="row">
          <button class="btn btn-danger col-md-2" data-role="remove" style="margin-left: 15px; margin-bottom: 15px;">Remove room details</button>
        </div>

      </div>
    </fieldset>
  </div>
</script>

<script type="text/html" id="file_view_epc_form">
    <div class="container">
      <div class="form-group" formname="epc_form"  style="margin-top: 10px; margin-left: -15px;">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <span class="btn btn-default btn-file"><span>Choose photo</span><input type="file" name="room_photo" class="form-control"/></span>
          <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
          <span class="fileinput-remove"></span>
        </div>
      </div>
    </div>
</script>

<script type="text/html" id="room_photos">
  <fieldset style="border-bottom: 1px solid #F37622; margin-top: 5px; margin-bottom: 15px;" class="col-xs-10 fieldset">
    <div class="container">
      <div class="form-group" formname="room_photos">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <span class="btn btn-default btn-file"><span>Choose photo</span><input type="file" name="room_photo" class="form-control"/></span>
          <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
          <span class="fileinput-remove"></span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-danger col-sm-2" data-role="remove" style="margin-bottom: 10px;">Remove photo</button>
      </div>
    </div>
  </fieldset>
</script>

<script type="text/html" id="ads_form_main">
  <div id="ads_form_main_details">
    
    

    <div class="container">
    <h1 class="center">
      Place an ad on this property
    </h1>
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
          <div class="address">
            <p><%= @address %></p>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img data-ajax="39642767" src="http://li.zoocdn.com/a40b51a55b719c2a445e5dc5503d17c6710c3b39_354_255.jpg" alt="Thumbnail 4 bed property for sale in Alric Avenue, London" itemprop="contentUrl">
            </div>
            <div class="col-md-8 content">
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</script>

<script type="text/html" id="ad_inventory_table">
  <div class="table-content">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Search Text</th>
          <th>Featured remaining</th>
          <th>Premium Remaining </th>
          <th>Price</th>
        </tr>
      </thead>>
      <tbody>
      </tbody>
    </table>
  </div>
</script>


<script type="text/javascript">
$(function() {
    Array.range= function(a, b, step){
        var A= [];
        if(typeof a== 'number'){
            A[0]= a;
            step= step || 1;
            while(a+step<= b){
                A[A.length]= a+= step;
            }
        }
        else{
            var s= 'abcdefghijklmnopqrstuvwxyz';
            if(a=== a.toUpperCase()){
                b=b.toUpperCase();
                s= s.toUpperCase();
            }
            s= s.substring(s.indexOf(a), s.indexOf(b)+ 1);
            A= s.split('');        
        }
        return A;
    }

    var form = new Backbone.Form({
        template: _.template($('#main').html()),
        submitButton: 'Submit'
    }).render();

    $('.top_navbar [href=agent_form]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form')) {
        $('body').append(form.el);
      };
    });

    $('.top_navbar [href=historical_details]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').length == 0) {
        var ads_html = _.template($('#historical_form').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      }
    });

    $('.top_navbar [href=valuation_details_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').length == 0) {
        var ads_html = _.template($('#valuation_details_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      }
    });

    $('.top_navbar [href=quotes_details_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details').length == 0) {
        var ads_html = _.template($('#quotes_details_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      }
    });


    $('.top_navbar [href=street_view_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').length == 0) {
        var ads_html = _.template($('#street_view_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      }
    });

    $('.top_navbar [href=map_view_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').length == 0) {
        var ads_html = _.template($('#map_view_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      }
    });

    $('.top_navbar [href=ads_payment]').click(function(e){
      e.preventDefault();
      var window_url = window.location.pathname;
      var parts = window_url.split("/");
      var property_id;
      for (var i = 0; i < parts.length; i++) {
        if(!isNaN(parseInt(parts[i]))){
          property_id = parts[i];
        }
      };
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#main_form').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#historical_form_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#street_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#quotes_details_html').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#valuation_details').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#ads_form_main_details').length == 0) {
        var html = _.template($('#ads_form_main').html())();
        var domnode = $.parseHTML( html );
        $('body').append(domnode);
        var value = $(domnode).find('.content')[0];
        var address = $(value).closest('.container').find('.address p')[0].innerHTML;
        var addresses = address.split(',');
        var addresses_without_postcode = addresses.slice(0, (addresses.length - 1));
        var ad_type = $(value);
        var url = 'http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/api/v0/ads/availability';
        var inventory_html = _.template($('#ad_inventory_table').html())();
        var inventory_table_node = $.parseHTML(inventory_html);
        var arr_users = ['DEFAULT1'];
        for (var i = 0; i < arr_users.length; i++) {
          arr_users[i] = arr_users[i] + '|' + property_id;
        };
        users = arr_users[Math.floor(Math.random()*arr_users.length)];
        console.log(users);
        $.get( url, { addresses: addresses_without_postcode, users: users }, function( data ) {
          var inventory_table_node1 = inventory_table_node;
          var addresses1 = addresses;
          var ad_type1 = ad_type;
          var unit_type_map = {};
          var locality_unit_map = {
            'county': 0,
            'post_town': 1,
            'dependent_locality' : 2,
            'double_dependent_locality' : 2,
            'dependent_thoroughfare_description' : 3,
            'thoroughfare_descriptor' : 3,
          };
          for (var i = data.availability_count.length - 1; i >= 0; i--) {
            var premium_count = data.availability_count[i]._source.premium_count;
            var featured_count = data.availability_count[i]._source.featured_count;
            var type_value = data.availability_count[i]._source.type_value;
            var version = data.availability_count[i]._source.version;
            var premium_buyers = data.availability_count[i]._source.premium_buyers;
            var featured_buyers = data.availability_count[i]._source.featured_buyers;
            var matched_index = parseInt(data.availability_count[i].matched_queries[0]);
            var table1 = inventory_table_node1[1];
            var _id = data.availability_count[i]._id;
            var body;
            var body_dom;
            if (data.availability_count[i].dummy) {
              body =  '<tr style="height: 40px;"><td></td><td></td><td></td><td></td></tr>';
              body_dom = $.parseHTML(body);
            } else {
              body = '<tr><td>' + addresses[matched_index].toString() + ' ('+type_value + ')'+ '</td><td>';

              if (data.availability_count[i]._source.featured_booked == true) {
                var key =  'entity_ads_featured_' + data.availability_count[i]._id + users;
                var val = data.ads_availability[key]._source.created_at;
                body = body + 'Already booked '+ val + ' for expiry </td><td>';
              } else if (data.availability_count[i]._source.featured_count == 0) {
                var key =  data.availability_count[i]._id;
                var val = data.ads_availability[key+'|featured']._source.created_at;
                body = body + val + ' for earliest expiry' + '</td><td>';
              } else {
                body = body +featured_count +'<div class="checkbox-inline" style="margin-top: -24px;margin-left: 5px;"><input type="checkbox" value="" class="featured_booking_link"></div> ' + '</td><td>';
              }

              if (data.availability_count[i]._source.premium_booked == true) {
                var key =  'entity_ads_premium_' + data.availability_count[i]._id + users;
                var val = data.ads_availability[key]._source.created_at;
                body = body + 'Already booked '+ val + ' for expiry </td><td>';
              } else if (data.availability_count[i]._source.premium_count == 0) {
                var key =  data.availability_count[i]._id;
                var val = data.ads_availability[key+'|premium']._source.created_at;
                body = body + val + ' for earliest expiry' + '</td><td>';
              } else {
                body = body + premium_count + '<div class="checkbox-inline" style="margin-top: -24px;margin-left: 5px;"><input type="checkbox" value="" class="premium_booking_link"></div>' + '</td>';
              }

              body += '<td>2.00$</td>' 
            

              body_dom = $.parseHTML(body);
              $(body_dom[0]).attr('_id', _id);
              if (version==undefined) {version = 0};
              $(body_dom[0]).attr('version', version);
              $(body_dom[0]).attr('premium_buyers', premium_buyers.join(','));
              $(body_dom[0]).attr('featured_buyers', featured_buyers.join(','));
              if (i == data.availability_count.length - 1) {
                table1.firstChild.remove();
              }; 
            }
            $(table1).find('tbody')[0].appendChild(body_dom[0]);
          };
          var external_body = '<tr><td></td><td></td><td>Total</td><td id="total_ad_price">0.00$</td></tr>'
          var external_body_dom = $.parseHTML(external_body);
          $(table1).find('tbody')[0].appendChild(external_body_dom[0]);
          external_body = '<tr><td></td><td></td><td></td><td id="pay_now_link"><a href="#" id="pay_now_url">Pay Now </a></td></tr>';
          external_body_dom = $.parseHTML(external_body);
          $(table1).find('tbody')[0].appendChild(external_body_dom[0]);

          if (ad_type1.closest('.content').find('.table-content').length > 0) {
            ad_type1.closest('.content').find('.table-content')[0].remove();
          };
          ad_type1.closest('.content')[0].appendChild(table1);
          //  Callback starts WHEN featured link is clicked
          $('.featured_booking_link').on('change', function(event1) {
            event1.preventDefault();
            var pay_val =  $(event1.target.parentElement.parentElement.parentElement.parentElement).find('#total_ad_price')[0].innerText;
            var ad_price =  parseInt(event1.target.parentElement.parentElement.parentElement.lastElementChild.innerText)
            var new_pay_val;
            if (event1.target.checked) {
              new_pay_val = parseInt(pay_val) + ad_price;
            } else{
              new_pay_val = parseInt(pay_val) - ad_price;
            }
            $(event1.target.parentElement.parentElement.parentElement.parentElement).find('#total_ad_price')[0].innerText = new_pay_val+'.000$';
          });
          // Callback ends WHEN featured link is clicked

          //  Callback starts WHEN  link is clicked
          $('.premium_booking_link').on('change', function(event1) {
            event1.preventDefault();
            var pay_val =  $(event1.target.parentElement.parentElement.parentElement.parentElement).find('#total_ad_price')[0].innerText;
            var ad_price =  parseInt(event1.target.parentElement.parentElement.parentElement.lastElementChild.innerText)
            var new_pay_val;
            if (event1.target.checked) {
              new_pay_val = parseInt(pay_val) + ad_price;
            } else{
              new_pay_val = parseInt(pay_val) - ad_price;
            }
            $(event1.target.parentElement.parentElement.parentElement.parentElement).find('#total_ad_price')[0].innerText = new_pay_val+'.000$';
          });
          // Callback ends WHEN featured link is clicked

          // Callback when pay now is clicked
          $('#pay_now_url').on('click', function(event1){
            var total_payment = parseInt($('#total_ad_price')[0].innerHTML);
            var arr_of_locations = [];
            var featured_booking_links = $(event1.target.parentElement.parentElement.parentElement).find('.featured_booking_link');
            for (var i = 0; i < featured_booking_links.length; i++) {
              if (featured_booking_links[i].checked) {
                var row_elem = $(featured_booking_links[i].parentElement.parentElement.parentElement);
                var elem_price = parseInt(row_elem[0].lastChild.innerText);
                var elem_id = row_elem.attr('_id');
                var elem_version = parseInt(row_elem.attr('version'));
                var premium_buyers = row_elem.attr('premium_buyers');
                var featured_buyers = row_elem.attr('featured_buyers');
                var elem_value = parseInt(featured_booking_links[i].parentElement.parentElement.firstChild.textContent);
                var type = 'featured_count';
                var url_params = { id: elem_id, type: type, value: elem_value, version: elem_version, premium_buyers: premium_buyers, featured_buyers: featured_buyers, elem_price: elem_price };
                arr_of_locations.push(url_params);
              }
            };

            var premium_booking_links = $(event1.target.parentElement.parentElement.parentElement).find('.premium_booking_link');
            for (var i = 0; i < premium_booking_links.length; i++) {
              if (premium_booking_links[i].checked) {
                var row_elem = $(premium_booking_links[i].parentElement.parentElement.parentElement);
                var elem_price = parseInt(row_elem[0].lastChild.innerText);
                var elem_id = row_elem.attr('_id');
                var elem_version = parseInt(row_elem.attr('version'));
                var premium_buyers = row_elem.attr('premium_buyers');
                var featured_buyers = row_elem.attr('featured_buyers');
                var elem_value = parseInt(premium_booking_links[i].parentElement.parentElement.firstChild.textContent);
                var type = 'premium_count';
                var url_params = { id: elem_id, type: type, value: elem_value, version: elem_version, premium_buyers: premium_buyers, featured_buyers: featured_buyers, elem_price: elem_price };
                arr_of_locations.push(url_params);
              }
            };
            var handler = StripeCheckout.configure({
              key: "<%= Rails.configuration.stripe[:publishable_key] %>",
              image: '/2f81498e7c6b673f33db172c33f016f8f38aa0aa.jpg',
              locale: 'auto',
              token: function(token) {
                var update_url = 'http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/api/v0/ads/availability/update';
                url_params = {stripeEmail: token.email, stripeToken: token.id, arr_of_locations: arr_of_locations, users: users}
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`
                $.post(update_url, url_params).done(function(data){
                  if (data.message == 'Successful') {
                    for (var i = 0; i < premium_booking_links.length; i++) {
                      if (premium_booking_links[i].checked) {
                        var main_row_elem = $(premium_booking_links[i].parentElement.parentElement.parentElement);
                        premium_booking_links[i].parentElement.parentElement.innerHTML = 'Expires on ' + data.expiry_date;
                        if (!(data.versions[main_row_elem.attr('_id')]==undefined)) {
                          main_row_elem.attr('version', data.versions[main_row_elem.attr('_id')]);
                        };
                        
                        premium_booking_links[i].checked = false;
                      }
                    }
                    for (var i = 0; i < featured_booking_links.length; i++) {
                      if (featured_booking_links[i].checked) {
                        var main_row_elem = $(featured_booking_links[i].parentElement.parentElement.parentElement);
                        featured_booking_links[i].parentElement.parentElement.innerHTML = 'Expires on ' + data.expiry_date;
                        if (!(data.versions[main_row_elem.attr('_id')]==undefined)) {
                          main_row_elem.attr('version', data.versions[main_row_elem.attr('_id')]);
                        };
                        
                        featured_booking_links[i].checked = false;
                      }
                    }
                    $('#total_ad_price')[0].innerHTML = "0.00$";
                  };
                })
                .fail(function(data){
                  var response_data = JSON.parse(data.responseText);
                  for (var i = 0; i < premium_booking_links.length; i++) {
                    if (premium_booking_links[i].checked) {
                      var main_row_elem = $(premium_booking_links[i].parentElement.parentElement.parentElement);
                      if (!(response_data.versions[main_row_elem.attr('_id')]==undefined)) {
                        main_row_elem.attr('version', response_data.versions[main_row_elem.attr('_id')]);
                      };
                      if (!response_data.rows[main_row_elem.attr('_id')].result) {
                      } else{
                        total_payment = total_payment - response_data.rows[main_row_elem.attr('_id')].elem_price;
                        premium_booking_links[i].parentElement.parentElement.innerHTML = 'Expires on ' + response_data.expiry_date;
                        premium_booking_links[i].checked = false;
                      };
                    }
                  }
                  for (var i = 0; i < featured_booking_links.length; i++) {
                    if (featured_booking_links[i].checked) {
                      var main_row_elem = $(featured_booking_links[i].parentElement.parentElement.parentElement);
                      if (!(response_data.versions[main_row_elem.attr('_id')]==undefined)) {
                        main_row_elem.attr('version', response_data.versions[main_row_elem.attr('_id')]);
                      };
                      if (!response_data.rows[main_row_elem.attr('_id')].result) {
                      } else{
                          total_payment = total_payment - response_data.rows[main_row_elem.attr('_id')].elem_price;
                        featured_booking_links[i].parentElement.parentElement.innerHTML = 'Expires on ' + response_data.expiry_date;
                        featured_booking_links[i].checked = false;
                      };
                    }
                  }
                  $('#total_ad_price')[0].innerHTML = total_payment + '.00$';
                  alert('Pls retry the operation');
                });
              }
            });

            handler.open({
              name: 'Stripe.com',
              description: 'Ads subscription',
              amount: total_payment*100
            });
            // Open Checkout with further options

            e.preventDefault();

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
              handler.close();
            });

            console.log(arr_of_locations);

            
            // Callback pay now is clicked ends


          });

        });

        console.log('hi there');
      }
    });
    

    $(document).on('click', '#epc', function(e) {
      var val = $(e.target).text().replace(/^\s+|\s+$/g, '');
      var parentElem = e.target.parentElement.parentElement;
      if (val == 'Yes') {
        var html = _.template($('#file_view_epc_form').html())();
        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
        var inp = doc.children[0].children[1].children[0].children[0];
        parentElem.appendChild(doc.children[0].children[1].children[0]);
      }
      else if (parentElem.children.length > 3){
          var lastElem = parentElem.lastElementChild;
          parentElem.removeChild(lastElem);
      };
    });


    $('#property_type').change(function(e) {
      var parentElem = e.target.parentElement;
      if (this.value == 'Land with planning permission') {
        var html = _.template($('#inp_text').html())();
        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
        var inp = doc.children[0].children[1].children[0].children[0];
        inp.placeholder = "Enter the permission"
        inp.id = "permission_text"
        parentElem.appendChild(doc.children[0].children[1].children[0]);
      }
      else if ($(parentElem).find('#permission_text').length > 0){
          parentElem.lastElementChild.remove()
      };
    });

    $('#year_built').change(function(e) {
      var parentElem = e.target.parentElement;
      if (this.value == 'I know exact age') {
        var html = _.template($('#inp_text').html())();
        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
        var inp = doc.children[0].children[1].children[0].children[0];
        inp.placeholder = "Please enter the year"
        inp.id = "input_year"
        inp.type = "number"
        parentElem.appendChild(doc.children[0].children[1].children[0]);
      }
      else if ($(parentElem).find('#input_year').length > 0){
          parentElem.lastElementChild.remove()
      };
    });

    $('#internal_property_size').change(function(e) {
      var parentElem = e.target.parentElement;
      if ($(parentElem).find('#prop_size_text').length > 0) {
          parentElem.lastElementChild.remove()
      };
      
      if (this.value == 'I know approx' || this.value == 'I know exactly') {
        var html = _.template($('#prop_size_details').html())();
        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
        var inp = doc.children[0].children[1].children[0].children[0];
        parentElem.appendChild(doc.children[0].children[1].children[0]);
      };

    });

    $('#external_property_size').change(function(e) {
      var parentElem = e.target.parentElement;
      if ($(parentElem).find('#prop_size_text').length > 0) {
          parentElem.lastElementChild.remove()
      };
      
      if (this.value == 'I know approx' || this.value == 'I know exactly') {
        var html = _.template($('#prop_size_details').html())();
        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
        var inp = doc.children[0].children[1].children[0].children[0];
        parentElem.appendChild(doc.children[0].children[1].children[0]);
      };

    });

    $(document).on(
          'click',
          '[data-role="dynamic-fields"] [data-role="remove"]',
          function(e) {
              e.preventDefault();
              $(this).closest('.fieldset').remove();
          }
    );
      // Add button click
    $('#add_improvement').click(function(e) {
            var html = _.template($('#improvement_spend').html())();
            e.preventDefault();
            var container = $(this).closest('[data-role="dynamic-fields"]');
            var add = $(this).closest('[data-role="add"]');
            var xmlString =html;
            parser = new DOMParser(), doc = parser.parseFromString(xmlString, "text/html");
            container[0].insertBefore(doc.children[0].children[1].children[0], add[0]);
            $('.improvements_list').change(function(e_inner) {
                    e_inner.preventDefault();
                    if (this.value == 'Others') {
                        var html = _.template($('#inp_text').html())();
                        var container = $(this).closest('.form-group');
                        parser = new DOMParser(), doc = parser.parseFromString(html, "text/html");
                        var inp = doc.children[0].children[1].children[0].children[0];
                        inp.style = "width: 150%;"
                        var inp_group = doc.children[0].children[1].children[0];
                        inp.placeholder = "Please enter the type of improvement";
                        inp_group.style = "";
                        container[0].appendChild(doc.children[0].children[1].children[0]);
                    }
                    else if(this.parentElement.childElementCount > 3) {
                        this.parentElement.children[3].remove();
                    };
                    
                }
            );
        }
    );

    $('#add_room').click(function(e) {
            var html = _.template($('#room_details').html())();
            e.preventDefault();
            var container = $(this).closest('[data-role="dynamic-fields"]');
            var add = $(this).closest('[data-role="add"]');
            var xmlString =html;
            parser = new DOMParser(), doc = parser.parseFromString(xmlString, "text/html");
            container[0].insertBefore(doc.children[0].children[1].children[0], add[0]);
        }
    );

  $('#add_photo_room').click(function(e) {
            var html = _.template($('#room_photos').html())();
            e.preventDefault();
            var container = $(this).closest('[data-role="dynamic-fields"]');
            var add = $(this).closest('[data-role="add"]');
            var xmlString =html;
            parser = new DOMParser(), doc = parser.parseFromString(xmlString, "text/html");
            container[0].insertBefore(doc.children[0].children[1].children[0], add[0]);
        }
    );

  $('#main_form').on('submit', function(e){
      var outside_spaces = [];

      $.each($("input[checkboxname='outside_spaces']:checked"), function(){            
          outside_spaces.push(this.parentElement.textContent.trim());
      });

      var additional_features = [];
      $.each($("input[checkboxname='additional_features']:checked"), function(){            
          additional_features.push(this.parentElement.textContent.trim());
      });

      room_details = [];
      $.each($('[formname=room_details]'), function(index, form){
        room_map = {};
        $.each($(form).find('.form-control'), function(ind, value){
          room_map[$(value).attr('name')] = $(value).val();
        });
        room_details.push(room_map)
      });


      room_photos = [];
      $.each($('[formname=room_photos]'), function(index, form){
        room_photo_map = {};
        $.each($(form).find('.form-control'), function(ind, value){
          room_photo_map[$(value).attr('name')] = $(value).val();
        });
        room_photos.push(room_photo_map)
      });


      improvement_spends = [];

      $.each($('[formname=improvement_spend]'), function(index, form){
        improvement_spend_map = {};
        $.each($(form).find('.form-control'), function(ind, value){
          improvement_spend_map[$(value).attr('name')] = $(value).val();
        });
        improvement_spends.push(improvement_spend_map);
      });


      
      property_sizes = [];

      $.each($('[formname=property_size]'), function(index, form){
        property_size_map = {};
        $.each($(form).find('.form-control'), function(ind, value){
          property_size_map[$(value).attr('name')] = $(value).val();
        });
        property_sizes.push(property_size_map);
      });


      epc_file_map = {};
      $.each($('[formname=epc_file_form]'), function(index, form){
        $.each($(form).find('.form-control'), function(ind, value){
          epc_file_map[$(value).attr('name')] = $(value).val();
        });
      });


      var search = $('#main_form').serialize();
      search = decodeURI(search);
      search = search.replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"').replace(/\+/gi," ");
      search_map = JSON.parse('{"' + search + '"}')
      search_map["email"] = decodeURIComponent(search_map["email"]);
      search_map["epc_file_map"] = epc_file_map;
      search_map["property_sizes"] = property_sizes;
      search_map["improvement_spends"] = improvement_spends;
      search_map["room_photos"] = room_photos;
      search_map["room_details"] = room_details;
      search_map["additional_features_type"] = additional_features;
      search_map["outside_space_type"] = outside_spaces;
      search_map["udprn"] = $('#udprn').val();

      $.each($('[name=internal_property_size]'), function(index, value){
        search_map['internal_property_size'] = $(value).val();
      });

      $.each($('[name=external_property_size]'), function(index, value){
        search_map['external_property_size'] = $(value).val();
      });

      
      e.preventDefault();

      $.post( "http://ec2-52-10-153-115.us-west-2.compute.amazonaws.com/api/v0/properties", search_map )
        .done(function( data ) {
         alert("Updated successfully");
      });

  });

  

});

</script>
