<script src="http://ec2-52-66-124-42.ap-south-1.compute.amazonaws.com/bootstrap.min.js"></script>
<script src="http://ec2-52-66-124-42.ap-south-1.compute.amazonaws.com/underscore.min.js"></script>
<script src="http://ec2-52-66-124-42.ap-south-1.compute.amazonaws.com/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-124-42.ap-south-1.compute.amazonaws.com/bootstrap.min.css"/>

<div class="top_navbar">
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="property_html">Property details</a></li>
      <li><a href="map_view_html">Map View</a></li>
      <li><a href="images_view_html">Images View</a></li>
    </ul>
  </div>
</div>

<script type="text/html" id="property_html">
  <div id="property_details">
    
    <% if @stored_response %>
      <div class="container">
        <h2>Stored property response</h2>

        <div class="panel panel-default">
          <div class="panel-heading features-logo">Features</div>
          <div class="panel-body features-response"><%= @stored_response['features'] %> </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading beds">Beds</div>
          <div class="panel-body beds-response"><%= @stored_response['beds'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading baths">Baths</div>
          <div class="panel-body baths-response"><%= @stored_response['baths'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading address">Address</div>
          <div class="panel-body address-response"><%= @stored_response['address'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading features">Features</div>
          <div class="panel-body features-response"><%= @stored_response['features'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading latitude">Latitude</div>
          <div class="panel-body latitude-response"><%= @stored_response['latitude'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading longitude">Longitude</div>
          <div class="panel-body longitude-response"><%= @stored_response['longitude'] %></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading receptions-logo">Receptions</div>
          <div class="panel-body receptions-response"><%= @stored_response['receptions'] %> </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading title-logo">Title</div>
          <div class="panel-body title-response"><%= @stored_response['title'] %> </div>
        </div>

    </div>
    <% else %>
      <p> Details not found for this particular id </p>
    <% end %>
  </div>
</script>

<script type="text/html" id="map_view_html">
  <div id="map_view_details">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="<%=@iframe_url%>" allowfullscreen></iframe>
  </div>
</script>

<script type="text/html" id="images_view_html">
  <div id="images_view_details">
    <% counter = 0 %>
    <% @images.each do |each_image| %>
      <img src="<%=each_image%>" alt="Image <%=counter%>">
      <% counter += 1 %>
    <% end %>
  </div>
</script>

<script type="text/javascript">
  $(function() {

    $('.top_navbar [href=property_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#images_view_details').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#property_details').length == 0) {
        var ads_html = _.template($('#property_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      };
    });

    $('.top_navbar [href=map_view_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#property_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#images_view_details').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').length == 0) {
        var ads_html = _.template($('#map_view_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      };
    });

    $('.top_navbar [href=images_view_html]').click(function(e){
      e.preventDefault();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#property_details').remove();
      $($(event.target).closest('.top_navbar')[0].parentElement).find('#map_view_details').remove();
      if ($($(event.target).closest('.top_navbar')[0].parentElement).find('#images_view_details').length == 0) {
        var ads_html = _.template($('#images_view_html').html())();
        var ads_parser = new DOMParser();
        var doc = ads_parser.parseFromString(ads_html, "text/html");
        var ads_inp = doc.children[0].children[1].children[0].children[0];
        $('body').append(doc.children[0].children[1].children[0]);
      };
    });


  });
</script>
