<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @vendor_name %></h1>
    <p>
      
    </p>
    <p>
     An agent has claimed the lead of your property located at <%= @address %> on Prophety® (Prophety.co.uk)!
    </p>

    <p>
      Agent Name: <%= @agent_name %>
    </p>

    <p>
      Agent Mobile: <%= @agent_mobile %>
    </p>

    <p>
      Agent Email: <%= @agent_email %>
    </p>

  </body>
</html>

